Bremersee Utils

  This project contains a collection of utility classes.

*---------------------+--------+-----------------------------------------+
|| Class              || Since || Description                            |
*---------------------+--------+-----------------------------------------+
| CastUtils           | 1.0.2  | Cast collections, lists, sets and maps  |
*---------------------+--------+-----------------------------------------+
| CodingUtils         | 1.0.2  | Hashes, encoding and decoding           |
*---------------------+--------+-----------------------------------------+
| IoUtils             | 1.0.2  | Input-output operations                 |
*---------------------+--------+-----------------------------------------+
| MailUtils           | 1.0.2  | Email address utilities                 |
*---------------------+--------+-----------------------------------------+
| MapUtils            | 1.0.2  | Sort map values, access values          |
*---------------------+--------+-----------------------------------------+
| PasswordUtils       | 1.0.2  | Password quality, password generation   |
*---------------------+--------+-----------------------------------------+
| PhoneNumberUtils    | 1.0.2  | Phone number utilities                  |
*---------------------+--------+-----------------------------------------+
| ResourceBundleUtils | 1.0.2  | Some helper for resource bundles        |
*---------------------+--------+-----------------------------------------+
| TagUtils            | 1.0.2  | Tagging methods                         |
*---------------------+--------+-----------------------------------------+
| WebUtils            | 1.0.2  | Web stuff methods                       |
*---------------------+--------+-----------------------------------------+
